body {
  line-height: 16.0px;
}

.pad {
  height:650px;
  width: 810px;

  background-image: url("../images/graph.gif") !important;

  position:relative;

  border:2px solid;
  border-radius:30px;

  margin:auto;
  margin-top:20px;
}

.centerline {
  position:relative;
  border-left: 1px solid black;

  width:0px;
  height:650px;

  left: 405px;
}

.content {
  position:relative;

  top:0px;
  padding: 5px;

  width:390px;
  height:650px;
}

.content#leftside {
  border-right: 1px solid black;
  float:left;
}

.content#rightside {
  float:right;
}

.day {   
  border-spacing: 10px;
  border-collapse: separate;
}